.SCBTitle {
  position: relative;
  z-index: 3;
}
.SCBTitle::before {
  position: absolute;
  content: url(../assets/icons/shapeTwo.png);
  top: -35px;
  left: -6px;
  z-index: -999;
  opacity: 0;
  animation: fadeInOut 3s infinite;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

